#message-list .message-list-item {
  margin-bottom: 8px;
}

.message-list-item {
  border: 1px solid black;
  padding: 16px;
}

.submission-error-message {
  padding: 16px;
  color: white;
  background-color: red;
  border: 1px solid black;
  border-radius: 4px;
}
