body {
  font-family: "Montserrat", "Arial", sans-serif;
}

.highlight {
  background-color: yellow;
}

.form-group {
  margin-bottom: 16px;
}

.form-group > label {
  display: block;
  font-weight: 600;
  margin-bottom: 4px;
}

.radio-group > label {
  display: block;
  margin-bottom: 4px;
}

.form-group > input,
.form-group > textarea {
  width: 100%;
  box-sizing: border-box;
}

.margin-bottom-8 {
  margin-bottom: 8px;
}

.short-length-form {
  max-width: 300px;
}

.site-title {
  background-color: lightgray;
  padding: 16px;
}
